* {
  box-sizing: border-box;
}

body {
  background-color: #00171F;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'IBM Plex Mono', monospace;
}

.info {
  display: flex;
}

.score {
 margin-left: 75px;
}

#start-button {
  background-color: #AD343E;
  color: white;
  border: 1px solid #FCAA67;
  margin : 20px 0;
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: #E6E8E6;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(85, 84, 84)
}

.grid .taken {
  border: 1px solid #00171F;
}

.tetromino {
  background-color: #F2AF29;

}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  background-color: #E6E8E6;  
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  border: 1px solid #00171F;
}